<% layout('./layout/boilerplate.ejs') %>

  <% if(doc.gender==="male" ) { %>
    <h1 class="display-6 text-center" style="font-weight: bold;">Welcome, Mr. <%= doc.username %>
    </h1>
    <% } %>
      <% if(doc.gender==="female" ) { %>
        <h1 class="display-6 text-center" style="font-weight: bold;">Welcome, Mrs. <%= doc.username %>
        </h1>
        <% } %>
          <div class="card" style="width: 100%;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Name:  <p class="lead" style="display: inline;"><%= doc.username %></p> </h5> 
              <h5 class="card-title">Gender:  <p class="lead" style="display: inline;"><%= doc.gender %></p> </h5> 
              <h5 class="card-title">Region:  <p class="lead" style="display: inline;"><%= doc.region %></p> </h5> 
              <h5 class="card-title">Field of Work:  <p class="lead" style="display: inline;"><%= doc.field %></p> </h5> 
              <h5 class="card-title">Degree:  <p class="lead" style="display: inline;"><%= doc.post %></p> </h5> 
              <h5 class="card-title">Pincode:  <p class="lead" style="display: inline;"><%= doc.pincode %></p> </h5>  
              <hr>
              <br>
              <h5 class="card-title">
                  Hospital Address:
              </h5>
              <p class="lead">
                <%= doc.hospitalADD %>
              </p>
            </div>
          </div>
          <div class="my-5">
            <a href="/viewAppointments" class = "btn btn-success" style="font-size: 100%;">All Appointments</a>
          </div>
          <!-- Displaying appointments -->